<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="text-align: center;font-family:Helvetica,Arial,sans-serif;">

	    <div style="padding-bottom: 40px; padding-top: 40px;">
	        <img src="http://res.cloudinary.com/triskele/image/upload/v1465673621/triskele-logo-email.png" height="34" alt="Triskele">
	    </div>
	    
	    <div style="background-color: #1E88E5; padding-top: 2px; padding-bottom: 2px;">
	        <h1 style="color: white; font-size: 30px; line-height:160%">Tudo certo!</h1>
	    </div>

	    <div style="max-width: 768px; margin: auto; color: #757575">
	        <div style="width: 75%; margin: auto;">
	            <h2 style="font-weight: bold; color: #616161; margin-bottom: 32px;">Ol&aacute;, <b style="color: #1E88E5"><%= @professional.user.name %></b>!</h2>
	            <p style="margin: 20px; margin-bottom: 32px;">Recebemos sua solicita&ccedil;&atilde;o para cadastrar a atividade: <a href="<%= @base_url %>aventura/<%= @service.id %>" style="text-decoration: none; color:#1E88E5;" target="_blank"><%= @service.name %></a>.</p>
	            <p style="margin: 20px; margin-bottom: 32px;">Estaremos avaliando ela o quanto antes para torn&aacute;-la dispon&iacute;vel.</p>
	            <p style="margin: 20px; margin-bottom: 32px;">Obrigado pela compreens&atilde;o.</p>
	            <p style="margin: 20px; margin-bottom: 32px;">Abra&ccedil;os,<br>Equipe Triskele</p>
	        </div>
	        
	        <hr style="width:80%;border:0;border-top:1px solid #ddd; padding-bottom: 16px">
	        <div style="width: 75%; margin: auto;">
	            <p style="margin:0;color:#999;font-size:12px;padding-bottom:16px;">
	            Em caso de qualquer d&uacute;vida, fique &agrave; vontade para responder esse email ou nos contatar no
	              <a href="mailto:meajuda@triskele.me" style="color:#1E88E5;font-weight:bold;text-decoration:none;" target="_blank">meajuda@triskele.me</a>.
               	</p>
	            <tr style="padding-bottom:8px; margin-bottom: 16px;">
	              <td style="font-family:Helvetica,Arial,sans-serif;line-height:160%;padding-bottom:32px;text-align:center">
	                <a href="https://www.facebook.com/triskele.me/" style="color:#6d2177;font-weight:bold;text-decoration:none" target="_blank" data-saferedirecturl="https://www.facebook.com/triskele.me/">
	                  <img alt="Facebook" src="http://res.cloudinary.com/triskele/image/upload/v1465673731/facebook_triskele.png" width="32" style="border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none">
	                </a>
	                &nbsp;&nbsp;
	                <a href="https://twitter.com/triskele_me" style="color:#6d2177;font-weight:bold;text-decoration:none" target="_blank" data-saferedirecturl="https://twitter.com/triskele_me">
	                  <img alt="Twitter" src="http://res.cloudinary.com/triskele/image/upload/v1465673731/twitter_triskele.png" width="32" style="border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none">
	                </a>
	                &nbsp;&nbsp;
	                <a href="https://www.linkedin.com/company/triskele" style="color:#6d2177;font-weight:bold;text-decoration:none" target="_blank" data-saferedirecturl="https://www.linkedin.com/company/triskele">
	                  <img alt="LinkedIn" src="http://res.cloudinary.com/triskele/image/upload/v1465673731/linkedin_triskele.png" width="32" style="border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none">
	                </a>
	              </td>
	            </tr>
	            <div style="padding-bottom: 16px"></div>
	            <hr style="margin-right:auto;margin-left:auto;width:30px;border:0;border-top:1px solid #ddd;padding-bottom:16px;">
	            <p style="margin:0;color:#999;font-size:12px;padding-bottom:40px;">Triskele 2016</p>
	        </div>
	    </div>
	</div>
  </body>
</html>