<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Novo Usuário se cadastrou!</h1>
		<p>Nome: <a href="http://development.triskele.me:3000/profile/<%= @user.id %>"><%= @user.name %></a></p>
		<p>Email: <%= @user.email %></a></p>
	</body>
</html>