<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Um novo profissional ingressou nossa plataforma!</h1>
		<p>Nome: <a href="http://development.triskele.me:3000/profile/<%= @professional.user.id %>"><%= @professional.user.name %></a></p>
		<p>Email: <%= @professional.user.email %></p>
		<p>Telefone: <%= @professional.user.phone %></p></p>
	</body>
</html>