<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Uma nova mensagem chegou:</h1>
		<p>Nome: <b><%= @doubt[:name] %></b></p>
		<p>Email: <%= @doubt[:email] %></p>
		<p>Mensagem: <%= @doubt[:message] %></p>
	</body>
</html>